<%- include("./partials/header") %>
<style>
  .form-control:focus {
    border-color: unset;
    box-shadow: unset;
  }

  table {
    border-collapse: separate;
    border-spacing: 0 10px;
  }

  .button-type {
    margin: 8px;
  }

</style>
<form action="/contractor" method="POST">
    <h1 class="text-center">E-Bill Book Form</h1>
    <table class="m-auto">
        <tbody>
        <tr>
            <td>Name :</td>
            <td><input type="text"
                       required
                       name="name"
                       class="form-control"
                       id="basic-url"
                       aria-describedby="basic-addon3"/></td>
        </tr>
        <tr>
            <td>Address :</td>
            <td>
                <div class="form-floating">
                    <textarea class="form-control"
                              required
                              name="address"
                              placeholder="Leave a comment here"
                              id="floatingTextarea2"
                              style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Address</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>Template :</td>
            <td>
                <input type="text"
                       required
                       name="template"
                       class="form-control"
                       id="basic-url"
                       aria-describedby="basic-addon3"/>
            </td>
        </tr>
        <tr>
            <td>Bill To :</td>
            <td><input type="text"
                       required
                       name="billTo"
                       class="form-control"
                       id="basic-url"
                       aria-describedby="basic-addon3"/></td>
        </tr>
        <tr>
            <td>Bill Address :</td>
            <td>
                <div class="form-floating">
                    <textarea class="form-control"
                              required
                              name="billAddress"
                              placeholder="Leave a comment here"
                              id="floatingTextarea2"
                              style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Bill Address</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>Email :</td>
            <td><input type="email"
                       name="email"
                       class="form-control"
                       id="basic-url"
                       aria-describedby="basic-addon3"
                       required/>
            </td>
        </tr>
        <tr>
            <td>Work Desc :</td>
            <td>
                <input type="text"
                       required
                       name="workDesc"
                       class="form-control"
                       id="basic-url"
                       aria-describedby="basic-addon3"/>
                </td>
        </tr>
        <tr>
            <td>Rate :</td>
            <td>
                <input type="number" name="rate" class="form-control" id="basic-url" aria-describedby="basic-addon3"/>
            </td>
        </tr>
        <tr>
            <td>Bank Name :</td>
            <td>
                <input type="text" name="bankName" class="form-control" id="basic-url" aria-describedby="basic-addon3"/>
            </td>
        </tr>
        <tr>
            <td>ACC No :</td>
            <td>
                <input type="number" name="accNo" class="form-control" id="basic-url" aria-describedby="basic-addon3"/>
            </td>
        </tr>
        <tr>
            <td>IFSC Code :</td>
            <td>
                <input type="text" name="ifscCode" class="form-control" id="basic-url" aria-describedby="basic-addon3"/>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
        <button type="submit" class="btn btn-success button-type">Submit</button>
        <button type="button" class="btn btn-light button-type" onclick="changeUrl()">Cancel</button>
    </div>
</form>

<script>
  function changeUrl() {
    let ok = confirm('Are you sure want to delete?');

    if (ok === true) {
      window.location.href = '/';
    }
  }
</script>
<%- include("./partials/footer") %>